body {
  margin: 0;
  padding: 0;
}
.app {
  background-color: #efefef;
  height: 100vh;
}

header {
  border-bottom: 2px black solid;
  padding: 20px 0;
}

header img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
